.card {
  margin-bottom: 20px;
  border: none;
  background-color: transparent;
  .cardImage {
    border-radius: 10px;
    height: 300px;
  }
  .cardBody {
    border: none !important;
  }
  .button {
    color: #155799;
    padding: 0;
    text-decoration: none;
  }
}
