html,
body {
  p {
    word-wrap: break-word;
  }
  h1.my-primary > div > p {
    font-size: inherit;
    color: inherit;
    font-family: inherit;
  }
  background-color: #f8f8f8;
  .navigation-bar nav {
    max-width: 100%;
    flex: 100%;
    a {
      text-decoration: none;
    }
  }
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 3em;
  }

  h6 {
    font-size: 12px;
  }

  .nav-link {
    color: black;
    font-size: 20px;
  }

  .my-primary {
    color: #26a893;
  }

  .font-weight-bold {
    font-weight: 800;
  }

  .contact-info-svg {
    color: #26a893;
    vertical-align: top;
    position: relative;
    top: 6px;
    height: auto;
    // height: 24px;
    // width: 15px;
    // margin-top: 3px;
  }

  .circular {
    border-radius: 50%;
  }

  .fa-li {
    top: 5px;
    // bottom: 2px;
  }

  .main-section {
    background-position: 180% 0px;
  }
  .abt-img {
    width: 10000px;
    background-repeat: no-repeat;
    background-position: center;
    > img {
      max-width: 100%;
    }

    .widths {
      width: 80px;
    }
  }

  .long-arrow-alt-right {
    height: 24px;
    width: 13px;
    color: #155799;
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
  }

  .main-section .elements-bg {
    top: -30%;
    right: -13%;
  }

  .school-box {
    border-radius: 10px;
    padding: 10px;

    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(21, 87, 153, 0.08);
    &.active {
      border: 3px solid #26a893;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: 0 2px 50px -30px #19a993;
    }
  }

  .my-icon {
    width: 14px;
    height: 14px;
  }
}
